*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	color: #f0f0f0;
	overflow-y: visible;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.background {
	display: block;
	z-index: -1000;
	position: fixed;
	top: 0;
	height: 110vh;
	width: 110vw;
}

section {
	background-color: rgba(0,0,0,.5);
	min-height: 100vh;
	z-index: 0;
}

.background {
	
}

.top-container {
	height: 100vh;
	font-family: "arimo";
}

.top-container .row {
	padding-top: 30vh;
}

.top-container .row>div {
	text-align: center;
}

.top-text {
	display: inline-block;
}

.first-line{
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	text-shadow: 0px 0px 6px rgba(0,255,0,0.7);
}

.second-line{
	font-size: 24px;
	display: none;
}

.link-line{
	display: none;
}

.icon-link {
	display: inline-block;
	text-align: center;
	width: 60px;
	margin: 0px 20px;
}

.icon-link a{
	text-align: center;
	font-size: 10px;
}

.icon-link a i{
	display: inline-block;
	font-size: 48px;
	padding: 20px 20px 5px;
}

.icon-link a span{
	display: inline-block;
	font-size: 10px;
}

.icon-link a,
.icon-link a:hover,
.icon-link a:focus,
.icon-link a:visited{
	color: #f0f0f0; 
	transition: all .7s ease;
	display: inline-block;
	background-color: transparent;
}

.icon-link a:hover{
	text-shadow: 0px 0px 6px rgba(0,255,0,0.7);
}

.nav li.active a i{
	color: #B3E20C;
}

.typed-cursor{
	color: #f0f0f0 !important;
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.nav {
	border-radius: 10px;
	display: none;
	position: fixed;
	top: 30vh;
	right: 48px;
	width: 48px;
	list-style: none;
	padding-left: 0;
	text-align: center;
}

#skills .row{
	padding-top: 10vh;
}

#skills p{
	text-align: justify;
	padding: 40px 0; 
}

.portfolio-pic{
	overflow: hidden;
	display: inline-block;
	position: relative;
	border: 2px solid #f1f1f1;
	background: #000;
	margin: 15px 20px;
}

.portfolio-pic img{
	display: block;
	height: auto;
	width: 100%;
}

.portfolio-pic:hover img{
	transform: scale(1.2);
	opacity: .4;
	transition: all .4s linear;
	image-rendering: optimizeQuality;
}

.portfolio-pic>.overlay{
	display: block;
	z-index: 10;
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 20% 0;
}

.portfolio-pic>.overlay>a {
	color: #f1f1f1;
	display: none;
	font-size: 24px;
	border: #f1f1f1 2px solid;
	border-radius: 50%;
	text-align: center;
	width: 56px;
	height: 56px;
	line-height: 56px;
	margin: 0 5px;
}

.portfolio-pic>.overlay>a i.fa-mobile {
	font-size: 28px !important;
}

.portfolio-pic:hover>.overlay>a {
	display: inline-block;
	transition: all .4s linear;
}

.portfolio-pic:hover>.overlay>a:hover {
	background-color: rgba(241,241,241,.3);
	transition: all .4s linear;
}


