*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-weight: lighter;
	color: #f0f0f0;
	overflow-y: visible;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.background {
	display: block;
	z-index: -1000;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;

	background-color: #484848;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
}

.bg-border{
	position: fixed;
	top:10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background-color: transparent;
	border: 1px solid #ffffff;
}

.container {
	padding: 0 40px !important;
}

.top-container {
	height: 100vh;
}

.top-container .row {
	padding-top: 45vh;
}

.top-container .row>div {
	text-align: center;
}

.top-text {
	display: inline-block;
}

.first-line{
	text-align: center;
	font-size: 48px;
	color: #dd3154;
	text-transform: uppercase;
	letter-spacing: 8px;
}

.second-line{
	font-size: 24px;
	text-transform: uppercase;
	display: none;
}

.typed-cursor{
	color: #dd3154 !important;
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#skills .row{
	padding-top: 10vh;
}

#skills p{
	text-align: justify;
	padding: 40px 0; 
}

.portfolio-box {
	max-height: 80vh;
}

.portfolio-pic{
	overflow: hidden;
	display: block;
	position: relative;
	border: 2px solid #f1f1f1;
	background: #000;
	margin: 15px 20px;
	max-height: 500px;
}

.portfolio-pic img{
	display: block;
	height: auto;
	width: 100%;
}

.portfolio-pic:hover img{
	transform: scale(1.2);
	opacity: .4;
	transition: all .4s linear;
	image-rendering: optimizeQuality;
}

.portfolio-pic>.overlay{
	display: block;
	z-index: 10;
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 20% 0;
}

.portfolio-pic>.overlay>a {
	color: #f1f1f1;
	display: none;
	font-size: 24px;
	border: #f1f1f1 2px solid;
	border-radius: 50%;
	text-align: center;
	width: 56px;
	height: 56px;
	line-height: 56px;
	margin: 0 5px;
}

.portfolio-pic>.overlay>a i.fa-mobile {
	font-size: 28px !important;
}

.portfolio-pic:hover>.overlay>a {
	display: inline-block;
	transition: all .4s linear;
}

.portfolio-pic:hover>.overlay>a:hover {
	background-color: rgba(241,241,241,.3);
	transition: all .4s linear;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #ffffff;
}

.arrow {
	display: block;
	position: absolute;
	font-size: 36px;
	line-height: 36px;
	color: #dd3154;
	z-index: 1000;
}

.arrow-down {
	bottom: 15px;
	width: 100%;
	text-align: center;
}

.arrow-left {
	top: 49vh;
	left: 15px;
}

.arrow-right {
	top: 49vh;
	right: 15px;
}

.arrow-up {
	top: 15px;
	width: 100%;
	text-align: center;
}

.fp-controlArrow {
	display: none;
}