/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top-container {
		font-size: 34px;
	}

	.arrow {
		font-size: 32px;
		line-height: 32px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top-container {
		font-size: 26px;
	}
	.arrow {
		font-size: 26px;
		line-height: 26px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top-container {
		font-size: 20px;
	}
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.arrow {
		font-size: 24px;
		line-height: 24px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top-container .row {
		padding-top: 45vh;
	}
	.top-text {
		display: block;
	}
	.first-line{
		font-size: 20px;
	}
	.second-line{
		font-size: 16px;
	}
	.arrow {
		font-size: 20px;
		line-height: 20px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.first-line{
		font-size: 20px;
	}
	.arrow {
		font-size: 18px;
		line-height: 18px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}